*{
    margin: 0px;
    padding: 0px;
    /* font-family: "Andor"; */
    /* sans-serif; */
   @font-face {
        font-family: Movicreto;
        src: url(AndorRegular-PersonalUse.ttf) format("truetype");
    }
}
:root{
  --orange-color: #d5872c;
  --gray-color: #6c6e70;
}

html{
   /* font: Movicreto;*/
    scroll-behavior: smooth;
}

.cover {
    font-family: "AndorRegular";
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
} 

.cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: opacity(60%);
}
/***********************************************************************/

.white-inicio{
    background-color: white;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 90vh;
    transform: skewX(-45deg);
    animation: homein 2s;
    left: -15vw;
    
}
.orange-inicio{
    background-color: var(--orange-color);
    position: absolute;
    top: 0;
    width: 20vw;
    height: 20vw;
    transform: skewX(-45deg);
    animation: moverighto 2.5s;
    left: -10vw;
}
/*****/
.white-left{
    background-color: white;
    position: absolute;
    top: 0;
    width: 70vw;
    height: 90vh;
    transform: skewX(-20deg);
    left: -85vw;
    z-index: -1;
}

.white-right{
    background-color: white;
    position: absolute;
    top: 0;
    width: 70vw;
    height: 90vh;
    transform: skewX(20deg);
    left: 140vw;
    z-index: -1;
}
.white-right-end{
    background-color: var(--orange-color);
    position: absolute;
    display: flexbox;
    top: 0vh;
    width: 70vw;
    height: 45vh;
   /* transform: skewX(10deg);*/
    left: 140vw;
    z-index: 5;
    align-items: center;
    justify-content: center;
}

.white-right-end iframe{
    margin: 1vh;
    width: 59vw;
    height: 43vh; 
}

.fondo-textura {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: opacity(30%);
}

.orange-left{
    background-color: var(--orange-color);
    position: absolute;
    top: 0vh;
    width: 20vw;
    height: 20vw;
    transform: skewX(-45deg);
    animation: homeino 2.5s;
    left: -10vw;
}

.cover-logo{
    position: absolute;
    left: 10.7vw;
    top: 28vh;
    width: 11vw;
    animation: aparition 4s;
    z-index: 2;
}
.logo-end{
    position: absolute;
    left: 100vw;
    top: 0vh;
    width: 50vw;
    min-height: 90vh;
    z-index: -1;
    object-fit: fill;
}
.logo-textura {
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.cover-logo-name{
    position: absolute;
    left: 5vw;
    top: 49.5vh;
    width: 22.5vw;
    animation: aparition 4s;
    z-index: 2;
}
@keyframes aparition {
    0% {    filter:opacity(0);}
    100% {    filter:opacity(1);}
}
@keyframes desaparition {
    0% {    filter:opacity(1);}
    100% {    filter:opacity(0);}
}
/**********************************************/
/*Triangulo blanco del inicio*/
@keyframes homein {
    0% { left: -55vw;}
    100% { left: -15vw;}
}
@keyframes homeout {
    0% { left: -15vw;}
    100% { left: -55vw;}
}
/*Triangulo naranja del inicio*/
@keyframes homeino {
    0% { left: -50vw;}
    100% { left: -10vw;}
}
@keyframes homeouto {
    0% { left: -10vw;}
    100% { left: -50vw;}
}
/*Diagonal blanca izquierda*/
@keyframes wl_right {
    0% { left: -85vw;}
    100% { left: -15vw;}
}
@keyframes wl_left {
    0% { left: -15vw;}
    100% { left: -85vw;}
}
/*Diagonal blanca derecha*/
@keyframes wr_left {
    0% { left: 140vw;}
    100% { left: 40vw;}
}
@keyframes wr_right {
    0% { left: 40vw;}
    100% { left: 140vw;}
}
/*Trapecio blanco arriba*/
@keyframes w_bot {
    0% { top: -90vh;}
    100% { top: 0vh;}
}
@keyframes w_top {
    0% { top: 0vh;}
    100% { top: -90vh;}
}
/***********LOGO**********/
@keyframes logoout {
    0%     {left: 10.7vw;
            top: 28vh;
            transform: scale(1);}
    100%   {left: 0vw;
            top: 0vh;
            transform: scale(0.6);}
}
@keyframes logoin {
    0%     {left: 0vw;
            top: 0vh;
            transform: scale(0.6);}
    100%   {left: 10.7vw;
            top: 28vh;
            transform: scale(1);}
}
@keyframes logo-namein {
    0%     {left: -5vw;
            top: 0vh;
            transform: scale(0);
            filter: opacity(0);}
    100%   {left: 5vw;
            top: 49.5vh;
            transform: scale(1);
            filter: opacity(1);}
}
@keyframes logo-nameout {
    0%     {left: 5vw;
            top: 49.5vh;
            transform: scale(1);
            filter: opacity(1);}
    100%   {left: -5vw;
            top: 0vh;
            transform: scale(0);
            filter: opacity(0);}
}
@keyframes logo-end-in {
    0% { left: -100vw;}
    100% { left: -6.5vw;}
}
@keyframes logo-end-out {
    0% { left: -6.5vw;}
    100% { left: -100vw;}
}
/*-----------Contenido de paginas---------------*/

.nosotros{
    color: var(--gray-color);
    position: absolute;
    display: none;
    top: 10vh;
    left: 50vw;
}
.nosotros h1{
    font-size: 35px;
    padding-bottom: 10vh;
}
.lista-nosotros{
    width: 50vw;
    display: flex;
    flex-direction: row;
}
.lista-nosotros2{
    width: 30vw;
    display: flex;
    flex-direction: column;
}
.lista-nosotros .iconify{
    width: 12vw;
    color: var(--orange-color);
    font-size: 70px;
}
.nosotros h3{
    font-size: 30px;
}
.nosotros h4{
    font-size: 25px;
    padding-bottom: 5vh;
}

.servicios{
    color: var(--gray-color);
    position: absolute;
    display: none;
    top: 10vh;
    left: 8vw;
}
.servicios h1{
    font-size: 35px;
    padding-bottom: 10vh;
    text-align: center;
}
.parrafo-servicios{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.servicios h3{
    font-size: 20px;
    padding-bottom: 3.5vh;
}

.contactanos{
    background-color: var(--gray-color);
    color: white;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 40vw;
    top: 45vh;
    width: 60vw;
    min-height:45vh ;
    align-items: center;
    /* border-radius: 5vh; */
}
.contactanos h1{
    font-size: 35px;
    /*padding-bottom: 5vh;
    padding-top: 5vh;*/
    text-align: center;
}
.contactanos h2{
    padding-top: 5vh;
    padding-bottom: 4vh;
    text-align: center;
}
.form-container{
    display:flex;
}
.form-container2{
    display:flex;
    flex-direction: column;
}
.form-container2 label{
    margin-bottom: 2vh;
}
.contactanos input{
    margin-left: 2vh;
    margin-right: 2vh;
   margin-bottom: 2vh;
    min-width: 10vw;
}
.form-container2 input{
    max-width: 10vh;
    margin-left: 30vh;
    min-height: 5vh;
}
.contactanos textarea{
    min-width: 40vw;
    max-width: 40vw;
    min-height: 10vh;
    max-height: 10vh;
   margin-bottom: 2vh;
}
/*-----------NAV----------------*/

.nav-container{
    position: absolute;
    bottom: 5vh;
    z-index: 1;
    width: 100%;
    box-shadow:   5px 5px 15px rgb(0 0 0 / 70%);
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--gray-color);
    width: 100%;
}

nav ul li{
    float: left;
    min-width: 10%;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 3.5vh 3vh;
    font-size: 3vh;
}

nav ul li a:hover{
  text-decoration: none;
  color: white;
  background-color: var(--orange-color);
  cursor: pointer;
}
.nav{
  background-color: var(--gray-color);
}
.nav_active {
    background-color: var(--orange-color);
} 

@keyframes navbot {
    0% { bottom: 5vh;}
    100% { bottom: 0vh;}
}
@keyframes navtop {
    0% { bottom: 0vh;}
    100% { bottom: 5vh;}
}

@media only screen and (max-device-width: 980px){

  .cover{
    height: 93.5vh;
    font-size: 12px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li a {
  padding: 2vh 0 2vh;
}
}